<img [src]="post.imagePath" class="img-fluid hero" alt="Responsive image">

<div class="container mt-3">
    <h1 class="text-center">{{post.title}}</h1>
    <audio controls autoplay *ngIf="post.audio">
        <source [src]="post.audio" type="audio/mpeg">
    </audio>
    <div [innerHTML]="post.body">
    </div>
    <div class="text-center" *ngIf="post.video">
        <video width="400" controls>
            <source [src]="post.video" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>

</div>