<div class="container mt-3">
    <div class="card" style="padding: 2em;">
        <h3 class="text-center">
            How can i build something like this app?
        </h3>
    </div>
    <div class="card" style="padding: 2em;">
        <h5>The knowledge we need to do something like this.</h5>
        <ul>
            <li>Basic knowledge of angular.</li>
            <li>Basic knowledge of Express js</li>
            <li>Basic knowledge of Firestore authentication,Firebase and firestore</li>
        </ul>
        <h5>where can we learn about this?</h5>
        <ul>
            <li>
                <h6>Angular</h6>
                <ul>
                    <li>
                        <a href="https://angular.io">Angular documentation</a>
                    </li>
                    <li>
                        <a
                            href="https://www.freecodecamp.org/news/angular-9-for-beginners-components-and-string-interpolation/">Free
                            angular tutorial for begginers</a>
                    </li>
                </ul>
            </li>
            <li>
                <h6>Expressjs</h6>
                <ul>
                    <li>
                        <a href="https://expressjs.com/es/starter/hello-world.html">Hellor world en expressjs</a>
                    </li>
                    <li>
                        <a
                            href="https://www.freecodecamp.org/news/how-to-build-a-todo-application-using-reactjs-and-firebase/">Building
                            a todo app with React, Expressjs and Firebase functions</a>
                    </li>
                </ul>
            </li>
        </ul>
        <h5>Basic guide to do a clone of this app</h5>
        <h6>Project structure</h6>
        <div class="row" ngxViewer>
            <div class="col">
                <img src="assets/tree_1.jpg" class="img-thumbnail" alt="tree1">
            </div>
            <div class="col">
                <img src="assets/tree_2.jpg" class="img-thumbnail" alt="tree1">
            </div>
            <div class="col">
                <img src="assets/tree_3.jpg" class="img-thumbnail" alt="tree1">
            </div>
        </div>
        <h6>Authentication</h6>
        Login and register form
        <div class="card-columns" ngxViewer>
            <div class="card" style="width: 18rem;">
                <img src="assets/auth_html.png" class="img-thumbnail" alt="authentication.component.html">
                <div class="card-body">
                    <p class="card-text">authentication.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/auth_ts.png" class="img-thumbnail" alt="authentication.component.ts">
                <div class="card-body">
                    <p class="card-text">authentication.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/auth_scss.png" class="img-thumbnail" alt="authentication.component.scss">
                <div class="card-body">
                    <p class="card-text">authentication.component.scss</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/login_html.png" class="img-thumbnail" alt="tree1">
                <div class="card-body">
                    <p class="card-text">login.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/login_ts.png" class="img-thumbnail" alt="login.component.ts">
                <div class="card-body">
                    <p class="card-text">login.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/login_scss.png" class="img-thumbnail" alt="login.component.scss">
                <div class="card-body">
                    <p class="card-text">login.component.scss</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/register_html.png" class="img-thumbnail" alt="register.component.html">
                <div class="card-body">
                    <p class="card-text">register.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/register_ts.png" class="img-thumbnail" alt="register.component.ts">
                <div class="card-body">
                    <p class="card-text">register.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/register_scss.png" class="img-thumbnail" alt="register.component.scss">
                <div class="card-body">
                    <p class="card-text">register.component.scss</p>
                </div>
            </div>
        </div>
        Authentication logic
        <div class="card-columns" ngxViewer>
            <div class="card" style="width: 18rem;">
                <img src="assets/auth_service.png" class="img-thumbnail" alt="auth service">
                <div class="card-body">
                    <p class="card-text">authentication.service.ts</p>
                </div>
            </div>
        </div>
        Logic to share data between authentication and navbar
        <div class="card-columns" ngxViewer>
            <div class="card" style="width: 18rem;">
                <img src="assets/nav_html.png" class="img-thumbnail" alt="navigation.component.html">
                <div class="card-body">
                    <p class="card-text">navigation.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/nav_ts.png" class="img-thumbnail" alt="navigation.component.ts">
                <div class="card-body">
                    <p class="card-text">navigation.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/nav_scss.png" class="img-thumbnail" alt="navigation.component.scss">
                <div class="card-body">
                    <p class="card-text">navigation.component.scss</p>
                </div>
            </div>
        </div>
        Logic to manage posts
        <div class="card-columns" ngxViewer>
            <div class="card" style="width: 18rem;">
                <img src="assets/posts_service.png" class="img-thumbnail" alt="posts.service.ts">
                <div class="card-body">
                    <p class="card-text">posts.service.ts</p>
                </div>
            </div>
        </div>
        Post views
        <div class="card-columns" ngxViewer>
            <div class="card" style="width: 18rem;">
                <img src="assets/posts_html.png" class="img-thumbnail" alt="home.component.html">
                <div class="card-body">
                    <p class="card-text">home.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/posts_ts.png" class="img-thumbnail" alt="home.component.ts">
                <div class="card-body">
                    <p class="card-text">home.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/posts_scss.png" class="img-thumbnail" alt="home.component.scss">
                <div class="card-body">
                    <p class="card-text">new.component.scss</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/new_html.png" class="img-thumbnail" alt="new.component.html">
                <div class="card-body">
                    <p class="card-text">new.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/new_ts.png" class="img-thumbnail" alt="new.component.ts">
                <div class="card-body">
                    <p class="card-text">new.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/posts_scss.png" class="img-thumbnail" alt="home.component.scss">
                <div class="card-body">
                    <p class="card-text">new.component.scss</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/new_html.png" class="img-thumbnail" alt="new.component.html">
                <div class="card-body">
                    <p class="card-text">new.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/new_ts.png" class="img-thumbnail" alt="new.component.ts">
                <div class="card-body">
                    <p class="card-text">new.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/posts_scss.png" class="img-thumbnail" alt="new.component.scss">
                <div class="card-body">
                    <p class="card-text">new.component.scss</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/detail_html.png" class="img-thumbnail" alt="detail.component.html">
                <div class="card-body">
                    <p class="card-text">detail.component.html</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/detail_ts.png" class="img-thumbnail" alt="detail.component.ts">
                <div class="card-body">
                    <p class="card-text">detail.component.ts</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="assets/detail_scss.png" class="img-thumbnail" alt="detail.component.scss">
                <div class="card-body">
                    <p class="card-text">detail.component.scss</p>
                </div>
            </div>
        </div>
    </div>
</div>